.img-fluid{
    max-width: 100%;
    height: auto
}
.img-thumbnail{
    padding: .25rem;
    background-color: $white;
    border:1px solid $gray-300;
    border-radius: $img-thumbnail-radius;
    max-width: 100%;
    height: auto
}