/* Colors */
@mixin background($color) {
  @if $use_color_helpers {
    background-color: $color;
    color: a11y-color($color);
  }
}

/* Forms */
@mixin track {
  cursor: default;
  height: $track-height;
  transition: all .2s ease;
  width: $track-width;
}
  
@mixin thumb {
  background: $thumb-color;
  border-radius: $thumb-radius;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-height;
  width: $thumb-width;
}

@mixin form_focus($color) {
  border-color: saturate($color,10%);
  box-shadow: 0 0 0 .25rem rgba(desaturate($color,10%),.25);
}

%form_control {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}