.border {
    border: 1px solid var(--border-color);
    
    &-top {
        border-top: 1px solid var(--border-color);
    }

    &-right {
        border-right: 1px solid var(--border-color);
    }

    &-left {
        border-left: 1px solid var(--border-color);
    }

    &-bottom {
        border-bottom: 1px solid var(--border-color);
    }
}

@for $i from 2 through 5 {
    .border-#{$i} {
        border-width: #{$i*1px};
    }
}

@each $name, $color in $main-colors {
    .#{$name} {
        --primary:var(--#{$name});
        --light-primary: #{tint-color($color,15%)};
        --dark-primary: #{shade-color($color,15%)};
        --focus-shadow: #{rgba(desaturate($color,10%),.25)};
        --border-color: var(--primary);
        color: var(--primary);
    }
    .text-#{$name} {
        color: var(--#{$name});
    }
    .bg-#{$name} {
        background-color: var(--#{$name});
    }
    .border-#{$name} {
        --border-color: var(--#{$name});
    }
}

@if $use-theme-colors {
    @each $name, $color in $theme-colors {
        .#{$name} {
            --primary:var(--#{$name});
            --light-primary: #{tint-color($color,15%)};
            --dark-primary: #{shade-color($color,15%)};
            --focus-shadow: #{rgba(desaturate($color,10%),.25)};
            --border-color: var(--primary);
            color: var(--primary);
        }
        .text-#{$name} {
            color: var(--#{$name});
        }
        .bg-#{$name} {
            background-color: var(--#{$name});
        }
        .border-#{$name} {
            --border-color: var(--#{$name});
        }
    }
}

.border-0 {
    border: none;
}