%form_control {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

@import "./forms/input-range";

textarea {
  display: block;
  width: 100%;
  border: 1px solid $gray-400;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

:focus-visible {
  outline: 0;
}

form p small {
    margin-top: .25rem;
    padding: .25rem;
    color: $gray-600;
}

input:not([type=range]), button, .btn, select, textarea {
    &:focus {
      border-color: var(--primary);
    }
}

input, select {
    background-color: #{$white};
    color: var(--default-font-color);
    width: 100%;
    border: 1px solid $gray-400;
    &:focus {
      outline: 0;
    }
}

input {
  &:not([type=checkbox]):not([type=radio]):not([type=range]) {
    @extend %form_control;
    display: block;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  &[type=checkbox], &[type=radio] {
    width: 1em;
    height: 1em;
    vertical-align: top;
    appearance: none;
    margin-right: .5rem;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
  }
  &[type=radio] {
    border-radius: 50%;
  }
  &:checked {
    &[type=checkbox] {
      background-color: var(--primary);
      border-color: var(--primary);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }
    &[type=radio] {
      background-color: var(--primary);
      border-color: var(--primary);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }
  }
}

select, button, .btn, input:not([type="checkbox"]):not([type="radio"]):not([type="range"]) {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
}

button, .btn {
  background-color: var(--primary);
  text-decoration: none;
  color: var(--light);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  transition: all ease-in-out .2s;
  box-shadow: 1px 1px 3px $gray-600;
  &:hover, &:focus {
    background-color: var(--dark-primary);
    box-shadow: 3px 3px 3px $gray-600;
  }
}