%v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%h-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin headings {
    @for $i from 1 through 6 {
        h#{$i}, .h#{$i} {
            @content;
        }
    }
}