table {
    --radius:0;
    width: 100%;
    border-spacing: 0;
    border-color: $gray-400;
    & > thead {
        vertical-align: bottom;
    }
    & > :not(:last-child) > :last-child > * {
        border-bottom-color: currentColor;
    }
    & > :not(caption) > * > * {
        padding: .5rem .5rem;
        border-bottom-width: 1px;
    }
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
th {
    text-align: start;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    --bg-color: undefined;
    background-color: rgba(0,0,0,0.08);
}


// Wrapper for responsive tables
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}